<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bulma.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css' />
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <%= title %>
          </h1>
          <!-- <h2 class="subtitle">
            Primary bold subtitle
          </h2> -->
        </div>
      </div>
      <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li <% if (link == 1) { %> class="is-active" <% } %>>
            <a href="/">
              <span class="icon is-small"><i class="fa fa-id-card-o"></i></span>
              <span>Cadastro</span>
            </a>
          </li>
          <li <% if (link == 2) { %> class="is-active" <% } %>>
            <a href="/listar/">
              <span class="icon is-small"><i class="fa fa-list"></i></span>
              <span>Lista</span>
            </a>
          </li>
          <li>
            <a href="/pesquisar/">
              <span class="icon is-small"><i class="fa fa-search"></i></span>
              <span>Pesquisar</span>
            </a>
          </li>
          <!-- <li>
            <a>
              <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
              <span>Documents</span>
            </a>
          </li> -->
        </ul>
      </div>
    </section>
    <div class="container">
      